body {
    width: 1020px;
    margin: 0;
}

.qoute {
    height: 648px;
    background-color: #f06c64;
}

.quote-title {
    width: 162px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 67px auto auto 40px;
    display: inline-block;
    letter-spacing: -0.3px;
}

.quote-description {
    display: inline-block;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 22px auto auto 40px;
    letter-spacing: -0.05px;
}

.form-contacts {
    display: flex;
}

form {
    display: grid;
    width: 619px;
    margin: 47px auto auto 40px;
}

input {
    height: 37px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    padding-left: 14px;
    color: #f0d8d9;
}

input:not(:placeholder-shown):invalid {
    border: 1px solid red;
}

input::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 12px;
}

.input-describe {
    height: 195px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #d6564f;
    padding: 7px 0 0 14px;
    color: #f0d8d9;
    border: none;
}

.input-describe::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: -0.08px;
    font-size: 12px;
}

.input-one {
    margin-bottom: 15px;
}

.contacts {
    width: 300px;
    height: 194px;
    margin: 48px 40px auto auto;
}

.submit {
    font-weight: 700;
    cursor: pointer;
}

.contacts-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.contacts-description {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;   
    margin: 9px auto 20px auto;
    letter-spacing: -0.05px;
}

.contacts-detail {
    display: flex;
    letter-spacing: -0.2px;
    height: 175px;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.adress::before {
    margin-right: 13px;
    content: "";
    display: inline-block;
    height: 11px;
    width: 7px;
    filter: invert();
    background-image: url(./assets/location.svg);
}

.phone-number::before {
    margin-right: 11px;
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    filter: invert();
    background-image: url(./assets/phone_contacts.svg);
}

.email-adress::before {
    margin-right: 9px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 13px;
    filter: invert();
    background-image: url(./assets/mail.svg);
}

.location-coordinates {
    width: 140px;
    letter-spacing: -0.2px;
    height: 75px;
    
}

.location-coordinates a {
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 2px;
}

.contacts-bottom-light {
    position: relative;
    height: 6px;
    background-color: #ea676b;
}

footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: #f0d8d9; 
    height: 11px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    width: 94px;
    margin: 27px 41px;
    letter-spacing: -0.15px;
}

.social-media-bar {
    width: 154px;
    margin: 21px 39px;
    display: flex;
    justify-content: space-between;
}

