html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    height: 89px;
    width: 768px;   
    background-color: #2d303a;
    position: fixed;
    z-index: 5;
    top: 0;
}

.header__wrapper {
    max-width: 1020px;
    height: 89px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#navigation ul {
    display: flex;
    width: 371px;
    height: 9px;
    justify-content: space-between;
    margin-right: 40px;
}

#navigation ul li {
    list-style: none;
    display: inline;
}

.active {
    font-size: 12px;
    line-height: 6px;
    color: #f06c64;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

a {
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/* .navigation__link-unselected::before {
    content: "·";
    margin-right: 12px;
    filter: opacity(0.2);

} */


a:hover {
    color: #f06c64;

}

.logo {
    display: flex;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-left: 40px;
    letter-spacing: -0.9px;
}

.logo__color {
    color: #f06c64;
    margin: 0;
}

.line {
    width: 100%;
    height: 6px;
    background-color: #323746;
    margin-top: 89px;
    position: relative;
}

.slider {
    width: 100%;
    height: 594px;
    background-color: #f06c64;
    overflow: hidden;
    position: relative;
}

.slider__wrapper {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    
}

.slide {
    display: none;
    animation: 1.0s ease-in-out;
}

.slide.active, .slide.next {
    display: block;
    position: absolute;
    margin: 0 auto;
    
}

.slide.next {
    position: absolute;
}

.left__slide {
    text-align: -webkit-center;
    width: 5%;
    cursor: pointer;
    z-index: 1;
    align-self: center;
    margin-left: 3%;
}

.shadow1 {
    display: block;
    width: fit-content;
    position: absolute;
    margin: 53px auto auto 112px;
}

.phones {
    width: 75%;
    height: 81.3%;
    position: absolute;
    top: 0;
    margin: 5.25% auto auto 11%;
}

.vertical_phone {
    display: block;
    position: absolute;
    top: 0px;
    cursor: pointer;
    opacity: 0%;
    z-index: 3;
    width: 28.1%;
    height: auto;
}

.shadow2 {
    display: block;
    width: fit-content;
    position: absolute;
    margin: 174px auto auto 426px;
}

.horizontal_phone {
    display: block;
    width: 60%;
    position: absolute;
    top: 0px;
    cursor: pointer;
    opacity: 0%;
    z-index: 3;
    margin: 16.1% auto auto 41%;
}

.right__slide{
    text-align: -webkit-center;
    width: 5%;
    cursor: pointer;
    z-index: 1;
    align-self: center;
    margin-right: 3%;
}


.vertical {
    display: block;
    width: 26%;
    position: absolute;
    top: 0px;
    margin: 8% auto auto 1.1%
}

.horizontal {
    margin: 17.3% auto auto 48%;
    display: block;
    width: 45%;
    position: absolute;
    top: 0px;
}

.switch {
    display: none;
}

.first-slide {
    width: 100%;   
}
.slide-2 {
    box-shadow: 0px 6px 0px 0px #5576cc;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: calc((100% - 1020px) / 2);
        width: 100%;
        max-width: 1020px;
    } 
    to {
        left: -100%;
        width: 100%;
        max-width: 1020px;
    }
}


@keyframes right {
    from {
        left: 100%;
        width: 100%;
        max-width: 1020px;
    } 
    to {
        left: calc((100% - 1020px) / 2);
        width: 100%;
        max-width: 1020px;
    }
}
.red_line {
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.services {
    scroll-margin-top: 89px;
    width: 100%;
    height: 494px;
    background-color: #f2f2f2;
}

.services__wrapper {
    height: 195px;
    max-width: 1020px;
    margin: 0 auto;
}

h2 {
    position: absolute;
    margin: 68px auto auto 39px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.services__description {
    position: absolute;
    margin: 113px auto auto 40px;
    width: 940px;
    height: 47px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: -0.08px
}

.tools_table {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-left: 40px;
}

.tools_table li {
    width: 300px;
    height: 104px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-grow: 1;
    margin-bottom: 20px;
}

.tool {
    position: absolute;
    margin: 0 auto;
    display: flex;
    max-width: 1020px;
    width: calc(100% - 80px);
    margin-top: 220px;
}

.first__column {
    display: flex;
    width: 329px;
    height: 210px;
    margin: 0;
}

.icon__column {
    width: 60px;
    margin-top: 24px;
}

.icon {
    width: 59px;
    align-self: start;
}

.description__column {
    margin-left: 19px;
    height: 104px;
}

.description__column p {
    letter-spacing: -0.08px;
    height: 58px;
    overflow: hidden;
    line-height: 21.5px;
}
/* 
.second__column {
    width: 329px;
    height: 500px;
}

.third__column {
    width: 308px;
    height: 500px;
} */

.description__column h4 {
    letter-spacing: -0.08px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.tool__description {
    margin-top: 12px;
    letter-spacing: -0.08px;
    width: 219px;
    height: 54px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.services_line {
    height: 6px;
    color: white;
}

.portfolio {
    scroll-margin-top: 89px;
    height: 863px;
    background-color: #2d303a;
}

.portfolio__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
.portfolio-title {
    display: inline-block;
    width: 121px;
    margin: 70px auto auto 41px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.portfolio-description {
    display: inline-block;
    margin: 113px 0 auto 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.22px;
    width: 83%;
}

.portfolio-navigation ul {  
    width: 296px;
    display: flex;
    justify-content: space-around;
    margin: 11px auto auto 37px;
}

.portfolio-navigation li a {
    text-decoration: none;
    display: block;
    padding: 0 5.8px;
    border-radius: 5px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.portfolio-navigation li a.selected {
    text-decoration: none;
    display: block;
    padding: 0 5.8px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #dedede;
    border: 1px solid #c5c5c5;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.portfolio-navigation a:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 620px;
    width: 94.12%;
    margin: 9px auto 0 auto;
    overflow: hidden;
}

.portfolio-4-column li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.portfolio-4-column li img:hover {
    filter: brightness(120%);
}

.portfolio_active {
    outline: 5px #F06C64 solid;
}

.portfolio-bottom-line {
    height: 6px;
    background-color: #323746;
}

.about-us {
    scroll-margin-top: 89px;
    height: 728px;
    background-color: #f2f2f2;
}

.about-us-column {
    margin-right: 1%;
    width: calc((100% - 40px) / 3);
}

.about-us__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
.About-us_tittle {
    display: inline-block;
    margin: 69px auto auto 40px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.about-us-description {
    display: inline-block;
    margin: 113px auto auto 40px;
    width: 90%;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;  
    letter-spacing: -0.045px;
}

.about-us-3-column {
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: 22px 40px auto 40px;
    
}

.photo {
    width: 100%;
    height: auto;
}

.name {
    margin: 14px 0 10px 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    white-space: nowrap;
}

.person-description{
    width: 100%;
    font-size: 12px;
    height: 55px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.05px;
}

.social-media-links {
    margin-top: 12px;
}

.social-media-links a {
    text-decoration: none;
    padding: 0.3px;
}

.about-us-bottom-line {
    height: 6px;
    background-color: #ffffff;
}

.qoute {
    scroll-margin-top: 89px;
    height: 648px;
    background-color: #f06c64;
}

.qoute__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.form-contacts {
    display: flex;
    margin-top: 20px;
}

.quote-title {
    width: 162px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 68px auto auto 40px;
    display: inline-block;
    letter-spacing: -0.3px;
}

.quote-description {
    display: inline-block;
    width: 91%;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 113px auto auto 40px;
    letter-spacing: -0.05px;
}


.form-column {
    margin-left: 40px;
    width: 60.6%;
}

form {
    display: grid;
    width: 100%;
    margin: 22px auto auto 0;
}

input {
    height: 37px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    padding-left: 14px;
    color: #f0d8d9;
}


input:not(:placeholder-shown):invalid {
    border: 1px solid red;
    background-color: red;
}

input::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 12px;
}

.input-describe {
    height: 159px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #d6564f;
    padding: 7px 0 0 14px;
    color: #f0d8d9;
    border: none;
}

textarea {
    resize: none;
}

.input-describe::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: -0.08px;
    font-size: 12px;
}

.input-one {
    margin-bottom: 15px;
}

.contacts {
    width: 27.8%;
    height: 194px;
    margin: 20px 40px auto 2%;
}

button {
    position: relative;
    background: #FBC65F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 136px;
    height: 38px;
    border: none;
    padding-left: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #886A30;
}

.contacts-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.contacts-description {
    width: 100%;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 9px auto 20px auto;
    letter-spacing: -0.05px;
    text-align: justify;
}

.contacts-detail {
    display: flex;
    letter-spacing: -0.2px;
    height: 175px;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.adress::before {
    margin-right: 13px;
    content: "";
    display: inline-block;
    height: 11px;
    width: 7px;
    filter: invert();
    background-image: url(./assets/location.svg);
}

.phone-number::before {
    margin-right: 11px;
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    filter: invert();
    background-image: url(./assets/phone_contacts.svg);
}

.email-adress::before {
    margin-right: 9px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 13px;
    filter: invert();
    background-image: url(./assets/mail.svg);
}

.location-coordinates {
    width: 140px;
    letter-spacing: -0.2px;
    height: 75px;
    
}

.location-coordinates a {
    text-decoration: none;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 2px;
}

.contacts-bottom-light {
    position: relative;
    height: 6px;
    background-color: #ea676b;
}

.modal {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #ea676b;
    position: relative;
    padding: 0;
    margin: auto;
    top: 30%;
    width: 30%;
    height: 40%;
    animation-name: modal-animation;
    animation-duration: 2s;
    border: 5px hsl(3, 42%, 45%) solid;
    border-radius: 5px;
    box-shadow: 7px 13px 90px 16px rgba(0,0,0,0.56);
}

.modal-header {
    height: 20%;
    text-align: center;
}

.modal-header h2 {
    position: relative;
    margin: 0 auto;
    top: 10px;
    font-size: 25px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

#modal-body {
    position: relative;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#modal-body p {
    position: relative;
    height: fit-content;
    width: 90%;
    word-wrap: break-word;
    font-size: 20px;
    text-overflow: clip;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 10px auto auto 25px;
}

.modal-footer {
    width: fit-content;
    margin: auto;
}

@keyframes modal-animation {
    from {opacity: 0}
    to {opacity: 1}
}

footer {
    height: 76px;
    background-color: #2d303a;
    
}

.footer-wrapper{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: #f0d8d9; 
    height: 11px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    width: 94px;
    margin: 27px 41px;
    letter-spacing: -0.15px;
}

.social-media-bar {
    width: 154px;
    margin: 21px 39px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1019px) {
    .slider {
        height: 445px;
    }

    .tools_table {
        justify-content: space-between;
    }

    .tools_table li {
        margin-bottom: 39px;
    }

    .services {
        height: 650px;
    }

    .services h2 {
        margin: 40px auto auto 39px;
    }

    .services__description {
        width: 90%;
        margin: 85px auto auto 40px;

    }
    
    .person-description{
        height: 92px;
    }

    .tool {
        margin-top: 210px;
    }

    .portfolio {
        height: 1096px;
        
    }

    .portfolio-4-column {
        height: 830px;
    }

    .qoute {
        height: 631px;
    }

    .quote-title {
        margin: 40px auto auto 40px;
    }
    
    .quote-description {
        margin: 80px auto auto 40px;
    }

    form {
        margin: 20px auto auto 0;
    }
}



